@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
}

.services-section {
  background-color: #F7F7F7;
}
.services-section .container-fluid {
  padding: 0;
}
.services-section .container-fluid .S-header {
  text-align: center;
  padding: 112px 64px 50px;
}
.services-section .container-fluid .S-content {
  text-align: center;
}
.services-section .container-fluid .S-content .upper-cards {
  display: flex;
  margin: 0px 0px 100px;
  justify-content: space-evenly;
}
.services-section .container-fluid .S-content .upper-cards .card-body {
  margin: 30px;
}
.services-section .container-fluid .S-content .upper-cards .card-body h5 {
  margin-bottom: 20px;
}
.services-section .container-fluid .S-content .lower-cards {
  display: flex;
  padding-bottom: 100px;
  justify-content: space-evenly;
}
.services-section .container-fluid .S-content .lower-cards .card-body {
  margin: 30px;
}
.services-section .container-fluid .S-content .lower-cards .card-body h5 {
  margin-bottom: 20px;
}

.header-section .container-fluid {
  padding: 0;
}
.header-section .container-fluid .heading-contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0px 50px;
  border-bottom: 1px solid;
}
.header-section .container-fluid .heading-contacts .contact-details {
  display: flex;
  width: 80%;
}
.header-section .container-fluid .heading-contacts .contact-details p {
  border-right: 1px solid #676767;
  border-left: 1px solid #676767;
  margin-right: 12px;
  margin-left: 12px;
  padding-right: 12px;
  padding-left: 12px;
}
.header-section .container-fluid .heading-contacts .contact-details p:nth-child(3) {
  border: none;
  padding: 0;
  margin: 0;
}
.header-section .container-fluid .heading-contacts .contact-details p:nth-child(4) {
  border-right: none;
  padding-right: 25px;
}
.header-section .container-fluid .heading-contacts .contact-socials {
  width: 25%;
  text-align: end;
  letter-spacing: 18px;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(1) {
  transition: all 0.4s ease;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(1):hover {
  transform: scale(1.5);
  cursor: pointer;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(2) {
  transition: all 0.4s ease;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(2):hover {
  transform: scale(1.5);
  cursor: pointer;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(3) {
  transition: all 0.4s ease;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(3):hover {
  transform: scale(1.5);
  cursor: pointer;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(4) {
  transition: all 0.4s ease;
}
.header-section .container-fluid .heading-contacts .contact-socials :nth-child(4):hover {
  transform: scale(1.5);
  cursor: pointer;
}
.header-section .container-fluid .navbar-expand-lg {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid {
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  border-bottom: 1px solid #676767;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-logo {
  transition: all 0.4s ease;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-menulist .nav-details .mb-lg-0 {
  gap: 20px;
  padding-right: 20px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-menulist .nav-details .mb-lg-0 .nav-item {
  transition: all 0.6s ease;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-menulist .nav-details .mb-lg-0 .nav-item:hover {
  border-bottom: 1px solid #10F2C5;
  cursor: pointer;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-menulist .d-flex .btn-dark {
  background-color: #000;
  border: 1px solid #fff;
  transition: all 0.4s ease;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .nav-menulist .d-flex .btn-dark:hover {
  background-color: #10F2C5;
  color: #000;
  font-weight: bold;
}/*# sourceMappingURL=style2.css.map */